<div markdown="0" class="contact">
    <form action="https://formspree.io/{{ site.email }}" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="Enter your name" required>
        </div>
        <div>
            <label for="_replyto">Email:</label>
            <input type="email" name="_replyto" placeholder="Enter your email" required>
        </div>
        <div>
            <label for="message">Message:</label>
            <textarea style="resize: vertical;" name="message" cols="30" rows="6" placeholder="Enter your message"
                required></textarea>
        </div>
        <input type="hidden" name="_format" value="plain" />
        <input type="text" name="_gotcha" style="display:none" />
        <br />
        <input type="submit" value="Send" />
    </form>
</div>