<p>
  <small class="title desc"><i class="far fa-calendar-alt" aria-hidden="true"></i> {{ include.post.date |
    date_to_string }}
    {% if include.post.comments %} <i class="fa fa-comments" aria-hidden="true"></i> <a class="disqus-comment-count"
      href="{{ include.post.url | relative_url }}#disqus_thread" data-disqus-identifier="{{ include.post.id }}">0
      Comments</a>
    {% endif %}
    {% if include.post.tags.size > 0 %} <i class="fa fa-tags" aria-hidden="true"></i>
    {% for tag in include.post.tags %}
    <a href="/blog/tags#{{ tag | slugify }}">{{ tag }}</a>
    {% endfor %}
    {% endif %}
  </small>
</p>