<div class="header">
    <a class="brand" href="/">AB</a>
</div>
<nav class="nav">
    <div class="nav-left">
        <ul>
            {% for nav in site.sidenav %}
            {% if nav[1] %}
            <li>
                <small><a href="{{ nav[1]['path'] }}">{{ nav[1]['title'] }}</a></small>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="nav-right">
        <a href="https://twitter.com/{{ site.social.username }}" target="_blank" class="fab fa-twitter"
            title="Twitter"></a>
        <a href="https://github.com/{{ site.github['owner_name'] }}" target="_blank" class="fab fa-github"
            title="Github"></a>
        <a href="https://linkedin.com/in/{{ site.social.username }}" target="_blank" class="fab fa-linkedin"
            title="LinkedIn"></a>
        <a href="mailto:{{ site.email }}" class="fas fa-envelope" title="Email"></a>
        <a href="{{ site.feed.path }}" class="fas fa-rss-square" title="RSS Feed"></a>
        <a href="#" id='toggleTheme' class="fas fa-adjust" onclick="toggleTheme()" title="Toggle Theme"></a>
    </div>
</nav>