    <a href="{{ site.url }}{{ site.baseurl }}/"><h1 id='name'>{{ site.author }}</h1></a>
    <p>{{ site.description }}</p>
    {% for nav in site.sidenav %}
        {% if nav[1] %}
            <a href="{{ site.url }}{{ site.baseurl }}{{ nav[1]['path'] }}">{{ nav[1]['title'] }}</a><br>
        {% endif %}
    {% endfor %}
    <br>
    <footer class="footer social">
        <a href="https://twitter.com/{{ site.twitter.username }}" target="_blank" class="fa fa-2x fa-twitter"></a>
        <a href="https://github.com/{{ site.github['owner_name'] }}" target="_blank" class="fa fa-2x fa-github"></a>
        <a href="mailto:{{ site.email }}" class="fa fa-2x fa-envelope"></a><br>
        <small>&copy; {{ site.time | date: '%Y' }} {{ site.author }}</small>
    </footer>
