    <a href="/"><h1 id='name'>{{ site.author }}</h1></a>
    <p>{{ site.description }}</p>
    <a href="/about/">About me</a><br>
    <a href="/">Blog</a><br>
    <a href="/posts.html">Posts index</a><br>
    <a href="/projects/">Projects</a>
    <br><br>
    <div class="social">
        <a href="https://twitter.com/{{ site.twitter.username }}" target="_blank" class="fa fa-2x fa-twitter"></a>
        <a href="https://github.com/{{ site.github.username }}" target="_blank" class="fa fa-2x fa-github"></a>
        <a href="mailto:{{ site.email }}" class="fa fa-2x fa-envelope"></a>
    </div>
    <footer class="footer">
        <small>&copy; 2018 Ayman Bagabas</small>
    </footer>
