/*
    Ayman Bagabas
*/

html, body, .row, .container-fluid {
    height: 100%;
    background-color: whitesmoke;
    color: black;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 105%;
}

a {
    text-decoration: none;
    transition: 0.3s;
    color: dodgerblue;
}

a:hover {
    color: dodgerblue;
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border-top: 1px solid lightgrey;
    margin-top: 20px;
}

legend {
    border-bottom: 1px solid lightgrey;
}

p {
	line-height: 1.7em;
	margin-bottom: 1.3em;
}

code {
	color: #2f1e2e;
	border: 1px solid #ccc;
	font-size: 13px;
}

pre code {
	border: 0;
}

pre, code, pre *, code * {
    background-color: white;
    font-family: 'Source Code Pro', monospace;
    white-space: pre;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

.col-md-2 {
    height: 100%;
    background-color: steelblue;
    /*background-color: navy;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 0 20px #888;
}

.col-md-2 * {
    color: aliceblue;
}

.col-md-2 a {
    color: aliceblue;
    text-decoration: none;
    transition: 0.3s;
}

.col-md-2 a:hover {
    color: white;
}

div#sidenav {
    margin: auto;
    height: 40%;
    width: 80%;
}

.social {
    text-align: center;
}

.social .fa {
    padding: 5px;
    font-size: 30px;
    color: white;
}

.social .fa:hover {
    color: aliceblue;
}

#name {
    color: white;
}

.footer {
    padding: 20px 0;
}

.content {
    padding: 20px;
}

.title {
    margin-bottom: 0;
    text-decoration: none;
    color: black;
    /*display: inline;*/
}

.title:hover {
    color: black;
}

.title h1 {
    margin-bottom: 0;
}

.title a {
    margin-bottom: 0;
    text-decoration: none;
    color: black;
}

.title a:hover {
    text-decoration: underline;
    color: black;
}

.title.desc {
    text-decoration: none;
    display: inline-block;
    color: grey;
    margin-bottom: 15px;
    /*padding-left: 5px;*/
}

.title.desc i {
    padding-right: 5px;
}

.title.desc a {
    color: grey;
}

.title.desc a:hover {
    color: grey;
    text-decoration: underline;
}

.center-image {
    margin: 0 auto;
    display: block;
}

.pagination {
	float: right;
}

/* On small screens, set height to 'auto' for sidenav and grid */

@media only screen and (max-width: 991px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    #sidenav {
        text-align: center;
    }
    html, body, .row, .container-fluid {
        height: auto;
    }
}
/* Sticky sidenav */
@media only screen and (min-width : 992px) {
    #name {font-size: 58px;}
    .col-md-2 {
        position: fixed;
        width: 25em;
        z-index: 1;
    }
    .col-md-10 {
        margin-left: 25em;
        width: auto;
		max-width: 850px;
    }
    .content {
        padding: 40px;
    }
}
