{{ define "main" }}
<h1 class="page-title">{{ .Title }}</h1>
{{ .Content }}

{{ $posts := (where .Site.RegularPages "Section" "blog").ByDate.Reverse }}
{{ $byYear := $posts.GroupByDate "2006" }}
<div id="posts-by-year">
  {{ range $byYear }}
  <h2 id="{{ .Key }}">{{ .Key }}</h2>
  <ul class="posts-list">
    {{ range .Pages }}
    <li>
      <h3><a href="{{ .RelPermalink }}">{{ .Title }} <small>{{ .Date.Format "January 2, 2006" }}</small></a></h3>
    </li>
    {{ end }}
  </ul>
  <hr />
  {{ end }}
</div>
{{ end }}
