/*
 * Copyrights Ayman Bagabas
 *
 * This CSS document is delivered to you under the CC BY-SA 3.0 License.
 * https://creativecommons.org/licenses/by-sa/3.0/deed.en_US
 */

html, body {
    margin:0;
    min-width: 950px;
	width: 100%;
	min-height: 100%;
}

/* Whole document */
body {
    font-family: "Open Sans", open sans, Arial, sans-serif;
    font-size: 12pt;
    /*margin: auto 1in auto 1in;*/
    background-color: whitesmoke;
	position: relative;
	min-height: 100vh;
}

.wrap {
    margin: 0 auto;
	width: 920px;
    padding: 10px;
}

/* Title of the resume */
h1 {
    font-weight: 800;
    font-size: 32pt;
    color: white;
    /*text-align:center;*/
    /*margin:0 auto 10px 17%;*/
    margin: 0 auto 10px auto;
}

/* Titles of categories */
h2 {
    font-size: 20pt;
    color: black;
	padding-left: 17%;
}
/* There is a bar just before each category */
/*h2:before {*/
    /*content: "";*/
    /*display: inline-block;*/
    /*margin-right: 1%;*/
	/*width: 16%;*/
    /*height: 10px;*/
	/*background-color: lightsteelblue;*/
/*}*/
/* Definitions */
dt {
	font-size: 16pt;
	float: left;
	clear: left;
    width: 18%;
	font-weight: bold;
}

dd {
    margin-left: 19%;
}

dd ul {
	margin: auto;
	margin-bottom: 5px;
}

p {
    margin-bottom: 5px;
}

.wrap p small {
	color: dodgerblue;
	float: right;
}

/* Blockquotes */
blockquote {
	margin: auto;
    /*text-align: center*/
    /*margin-left: 17%;*/
    border: none;
}

blockquote p {
    margin: 0;
}

/* Lists */
ul {
	list-style-position: inside;
}

/* Links */
a {
    text-decoration: none;
    color: dodgerblue;
}
a:hover, a:active {
    color: dodgerblue;
    text-decoration: underline;
}

/* Horizontal separators */
hr {
    border-top: 1px solid lightgrey;
}

header, footer {
	margin:0;
    width: 100%;
	padding: 0 0 10px 0;
    color: aliceblue;
    background-color: steelblue;
    box-shadow: 5px 0 20px #888;
}

footer {
    padding-top: 10px;
}

header>.wrap>*, footer>.wrap>* {
	/*margin: auto;*/
	margin-left: 19%;
}

.title {
	color: white;
	margin: auto;
}

header:before, footer:before {
    display:none;
}

header>blockquote>strong {
	color: white;
}

header blockquote, footer blockquote {
    color: aliceblue;
    padding-top:0;
    /*margin: 0 auto 0 17%;*/
}

header a, header a:hover, footer a, footer a:hover {
    color: aliceblue;
}

main {
	margin: 0 auto;
    padding-bottom: 80px;   /* Height of the footer */
}

footer {
    height: 60px;    /* Height of the footer */
	position: absolute;
	bottom: 0;
}

section {
	margin-bottom: 14px;
}
