/*
 * Copyrights Ayman Bagabas
 *
 * This CSS document is delivered to you under the CC BY-SA 3.0 License.
 * https://creativecommons.org/licenses/by-sa/3.0/deed.en_US
 */

html, body {
    margin:0;
    min-width: 925px;
}

/* Whole document */
body {
    font-family: "Open Sans", open sans, Arial, sans-serif;
    font-size: 84%;
    margin: auto;
    background-color: whitesmoke;
    min-height:100%;
    position:relative;
}

.wrap {
    margin: auto;
    width: 900px;
    padding: 10px;
}

/* Title of the resume */
h1 {
    font-weight: 800;
    font-size: 55px;
    color: white;
    /*text-align:center;*/
    margin:0 auto 10px 17%;
}

/* Titles of categories */
h2 {
    font-size: 25px;
    color: black;
	padding-left: 17%;
}
/* There is a bar just before each category */
/*h2:before {*/
    /*content: "";*/
    /*display: inline-block;*/
    /*margin-right: 1%;*/
	/*width: 16%;*/
    /*height: 10px;*/
	/*background-color: lightsteelblue;*/
/*}*/
/* Definitions */
dt {
    float: left;
    clear: left;
    width: 17%;
    color: dodgerblue;
	font-weight: bold;
}
dd {
    margin-left: 17%;
}

dd ul {
	padding-left: 0px;
}

p {
    margin-top:0;
    margin-bottom:7px;
}

/* Blockquotes */
blockquote {
    /*text-align: center*/
    margin-left: 17%;
    border: none;
}

blockquote p {
    margin:0;
}

/* Lists */
ul {
	list-style-position: inside;
}

/* Links */
a {
    text-decoration: none;
    color: dodgerblue;
}
a:hover, a:active {
    color: dodgerblue;
    text-decoration: underline;
}

/* Horizontal separators */
hr {
    border-top: 1px solid lightgrey;
}

header, footer {
    margin:0;
    width: 100%;
    color: aliceblue;
    background-color: steelblue;
    padding: 10px 0 10px 0;
    box-shadow: 5px 0 20px #888;
}

header.wrap, footer.wrap {
    margin: 0 auto 0 17%;
}

.title {
    color: white;
    margin: 0 auto 0 17%;
}

header:before, footer:before {
    display:none;
}

header blockquote, footer blockquote {
    color: aliceblue;
    padding-top:0;
    margin: 0 auto 0 17%;
}

header a, header a:hover, footer a, footer a:hover {
    color: aliceblue;
}

main {
    padding-bottom:60px;   /* Height of the footer */
}

footer {
    height: 40px;    /* Height of the footer */
    position: absolute;
    bottom: 0;
}

/* Set color to black when print */
@media print {
	body {
		background-color: white;
	}
	header, footer {
		color: black;
		background-color: white;
		box-shadow: none;
	}
	h1, header a, footer a,	header blockquote, footer blockquote {
		color: black;
	}
	.title {
		color: black;
	}
}
