---
---

/*
  Ayman Bagabas

  base16-onedark

  base00 = '#282c34'
  base01 = '#353b45'
  base02 = '#3e4451'
  base03 = '#545862'
  base04 = '#565c64'
  base05 = '#abb2bf'
  base06 = '#b6bdca'
  base07 = '#c8ccd4'
  base08 = '#e06c75'
  base09 = '#d19a66'
  base0a = '#e5c07b'
  base0b = '#98c379'
  base0c = '#56b6c2'
  base0d = '#61afef'
  base0e = '#c678dd'
  base0f = '#be5046'
*/

@import url(https://unpkg.com/chota@0.8.0/dist/chota.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.min.css);
@import "syntax";
@import "iosevka";
@import "iosevka-etoile";

:root {
  --bg-color: whitesmoke;
  --bg-secondary-color: #fafafa;
  --color-primary: #61afef;
  --color-lightGrey: #abb2bf;
  --color-grey: #565c64;
  --color-darkGrey: #3e4451;
  --color-error: #be5046;
  --color-success: #98c379;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-color: black;
  --font-family-sans: "Iosevka Etoile Web", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif;
  --font-family-mono: "Iosevka Web", monaco, "Consolas", "Lucida Console",
    monospace;
  --border-color: 0, 0, 0;
}

html {
  margin: 0;
  height: 100%;
}

body {
  height: 100%;
  padding: 20px;
  position: relative;
}

body.dark {
  --bg-color: #1f1f1f;
  --bg-secondary-color: #282c34;
  --font-color: whitesmoke;
  --color-grey: #c8ccd4;
  --color-darkGrey: #abb2bf;
  --border-color: 255, 255, 255;
}

* {
  border-radius: 0 !important;
  line-height: 1.8;
}

header {
  margin-bottom: 20px !important;
}

header,
main,
footer {
  max-width: 864px;
  margin: 0 auto;
}

hr {
  background-color: rgba(var(--border-color), 0.1) !important;
}

p {
  word-break: break-word;
}

code {
  color: var(--color-darkGrey);
}

pre,
code {
  border: 1px solid rgba(var(--border-color), 0.1);
}

pre code {
  border: 0;
  white-space: pre;
  word-wrap: normal;
}

blockquote {
  border-top: 1px solid rgba(var(--border-color), 0.1);
  border-right: 1px solid rgba(var(--border-color), 0.1);
  border-bottom: 1px solid rgba(var(--border-color), 0.1);
  border-left: none;
  position: relative;

  p:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    border-left: 3px solid var(--color-primary);
    position: absolute;
    float: left;
    height: calc(100% + 2px); // 2px top and bottom borders
    margin-left: -2rem; // matches chota's blockquote margins
    margin-top: calc(-1.5rem - 1px); // matches chota's blockquote margins
  }
}

summary {
  &::marker,
  &::-webkit-details-marker {
    color: var(--color-primary);
  }
}

.toc {
  margin: 10px 0;
}

.toc summary {
  cursor: pointer;
}

.toc summary:focus {
  outline: none;
}

.hanchor {
  display: none;
}

h1:hover > .hanchor,
h2:hover > .hanchor,
h3:hover > .hanchor,
h4:hover > .hanchor,
h5:hover > .hanchor,
h6:hover > .hanchor {
  display: inline;
}

.highlighter-rouge {
  position: relative;
}

.highlight {
  background: var(--bg-secondary-color) !important;
  position: relative;

  // Fix rouge highlighting interfering with Chota
  pre {
    td {
      padding: 0;
    }
    pre {
      border: none;
      line-height: unset;
      margin: unset;
      padding: unset;
    }
  }
}

[data-lang] {
  &::before {
    content: attr(data-lang);
    display: block;
    text-align: right;
    position: absolute;
    right: 0;
    top: -11px;
    border: 1px solid rgba(var(--border-color), 0.1);
    padding: 2px 10px;
    background-color: var(--bg-color);
    z-index: 1;
    color: var(--color-darkGrey);
    font-family: var(--font-family-mono);
    font-size: 12px;
    line-height: 1.4;
  }
}

.header {
  display: flex;
  flex: 1;

  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    color: var(--bg-color);
    border: 3px solid var(--color-primary);
    font-size: 36px;
    font-weight: 500;
    border-right: none;
    background-color: var(--color-primary);

    &:hover {
      opacity: 1;
    }
  }
}

input,
textarea {
  background-color: var(--bg-secondary-color);
  border: 1px solid rgba(var(--border-color), 0.1) !important;
  color: var(--font-color);
  transition: none !important;
  -webkit-transition: none !important;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin-left: 30px;
  li {
    position: relative;
    &::before {
      position: absolute;
    }
  }
}

ol {
  counter-reset: li;
  li {
    counter-increment: li;
    &::before {
      content: counter(li);
      color: var(--color-primary); /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em; /* Also needed for space (tweak if needed) */
      padding-right: 5px;
    }
  }
}

ul li::before {
  content: "-";
  color: var(--color-primary); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

nav,
.nav {
  min-height: 0 !important;

  a {
    padding: 0 !important;

    &:hover {
      text-decoration: underline !important;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none !important;
    margin: 0;
    padding: 0;

    > li {
      flex: 0 0 auto;

      &::before {
        display: none !important;
      }

      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
  }

  .nav-left {
    a {
      color: var(--color-darkGrey);
      text-decoration: underline;
    }
  }

  .nav-right {
    a {
      color: var(--color-grey) !important;
      text-decoration: none !important;
      &:not(:first-of-type) {
        margin-left: 20px;
      }
    }
  }
}

.title {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--font-color);
  }
}

.desc {
  i {
    color: var(--color-grey);
  }
  a {
    text-decoration: underline;
    color: var(--color-darkGrey);
  }
  color: var(--color-darkGrey);
}

.header::after {
  content: "";
  width: 100%;
  display: block;
  background: repeating-linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-primary) 3px,
    transparent 0,
    transparent 10px
  );
}

figure,
div.highlight,
blockquote {
  margin: 0;
}

figure.image {
  display: flex;
  flex-direction: column;
  align-items: center;

  figcaption {
    text-align: center;
    color: var(--color-darkGrey);
    padding: 5px 10px;
    font-size: small;
  }
}

.post-container {
  margin-bottom: 2em;
}

.recent-posts-container {
  margin: 2em 0;
}

.disclaimer-container {
  padding: 2em 0;
}

._404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-primary);
  color: var(--bg-color);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;

  & * {
    line-height: 1.1;
    margin: 0;
  }

  h1 {
    font-size: 10em;
  }

  p {
    font-size: 2em;
  }
}
