---
layout: default
title: "Blog"
---

{% assign i = 1 %}
{% for post in paginator.posts %}
{% include post-title.html post=post %}
{% include post-sub.html post=post %}
{{ post.excerpt | strip | remove_first: '</p>' }} <a href='{{ post.url | relative_url }}'>Read more...</a></p>
<br />
<center class="title"><small class="title desc"><a href="{{ post.url | relative_url }}#comments">Leave a
            Comment</a></small></center>
<br />
{% if i != paginator.posts.size %}
<hr />
<br />
{% endif %}
{% assign i = i | plus: 1 %}
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
    <small>
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">
            Prev
        </a>
        {% else %}
        <span>Prev</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <em>{{ page }}</em>
        {% elsif page == 1 %}
        <a href="{{ paginator.previous_page_path | relative_url }}">
            {{ page }}
        </a>
        {% else %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">
            {{ page }}
        </a>
        {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}">
            Next
        </a>
        {% else %}
        <span>Next</span>
        {% endif %}
    </small>
</div>
{% endif %}