---
layout: base
---

<header>
  {% include sidenav.html %}
</header>
<main class="content">
  {% include anchor_headings.html html=content anchorBody="#" anchorClass="hanchor" %}
</main>
<footer>
  {% include footer.html %}
</footer>
<script id="dsq-count-scr" src="https://{{ site.disqus_shortname }}.disqus.com/count.js" async></script>
<script>
  function setDataLang() {
    var els = document.querySelectorAll('[class^=language-')

    for (var el of els) {
      if (!el.getAttribute('data-lang') && el.getElementsByTagName('pre').length > 0) {
        var regex = /language-(.*)/
        var lang
        for (var cls of el.classList) {
          if (regex.test(cls)) {
            lang = cls.match(regex)[1]
          }
        }
        el.setAttribute('data-lang', lang)
      }
    }
  }

  function getTheme() {
    var theme = localStorage.getItem('theme')
    if (['dark', 'light'].includes(theme)) {
      return theme
    } else {
      return null
    }
  }

  function setTheme(theme) {
    if (theme === 'light') {
      document.body.classList.remove('dark')
      localStorage.setItem('theme', 'light')
    } else if (theme === 'dark') {
      document.body.classList.add('dark')
      localStorage.setItem('theme', 'dark')
    } else {
      setTheme('light')
    }
    if (window.DISQUS) {
      window.DISQUS.reset({ reload: true })
    }
  }

  function toggleTheme() {
    var theme = getTheme()
    if (theme) {
      setTheme(theme === 'light' ? 'dark' : 'light')
    }
  }

  var theme = getTheme()
  if (['dark', 'light'].includes(theme)) {
    setTheme(theme)
  } else if (window.matchMedia &&
    window.matchMedia('(prefers-color-scheme: dark)').matches) {
    setTheme('dark')
  } else {
    setTheme('light')
  }

  setDataLang()
</script>