<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800|Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- My Style -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
    <title>
        {% if page.title %} {{ page.title }}
        {% else %} {{ site.title }}
        {% endif %}
    </title>
    {% seo %}
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 narrow">
                <div id="sidenav">
                    <a href="/"><h1 id='name'>{{ site.author }}</h1></a>
                    <p>{{ site.description }}</p>
                    <a href="/posts.html">Blog index</a>
                    <br><br>
                    <div class="social">
                        <a href="https://twitter.com/{{ site.twitter.username }}" target="_blank" class="fa fa-2x fa-twitter"></a>
                        <a href="https://github.com/{{ site.github.username }}" target="_blank" class="fa fa-2x fa-github"></a>
                        <a href="mailto:{{ site.email }}" class="fa fa-2x fa-envelope"></a>
                    </div>
                    <footer class="footer">
                        <small>&copy; 2018 Ayman Bagabas</small>
                    </footer>
                </div>
            </div>
            <div id="wide" class="col-md-10">
                <div class="content">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
    <script id="dsq-count-scr" src="https://blog-aymanbagabas-com.disqus.com/count.js" async></script>
</body>

</html>
