---
layout: default
---

<header>
  <h1 class="post-title">{{ page.title }}</h1>
</header>
<div class="content">
  {% include post-meta.html post=page %}

  <div class="post-body">
    {% if content contains '<h' %} <small>
      <details class="toc" open="true">
        <summary>Contents</summary>
        {% include toc.html html=content %}
      </details>
      </small>
      <br />
      {% endif %}
      {{ content }}
      {% include post-tags.html post=page %}
  </div>

  {% include comments.html %}
  {% include related_posts.html %}
</div>